
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Styles/HomeIndex.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>

    <!-- Header -->
    <header id="header-container">
        <div class="intro">
            <h1>My Album Collection</h1>
            <div class="link">
                <a href="../Album">Album List <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </header>

</body>
</html>
