
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <!-- Header -->
    <header id="header-container">
        <h1>My Album Collection</h1>
        <a href="../Album">Album List</a>
    </header>

</body>
</html>
