body {
    background: #2c2d2d;
    color: #f0f0f0;
    font-family: "Special Elite", serif;
}

h1 {
    font-family: "Luckiest Guy", serif;
    font-size: 3rem;
}

#list-container {
    margin: 2rem 10rem;
}

.album-header {
    display: flex;
    justify-content: space-between;
}

.create-link {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: 0.3s ease;
}

.create-link a {
    text-decoration: none;
    color: white;
    background: orange;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.7);
    padding: 0.5rem;  
}

.create-link:hover {
    margin-right: 0.2rem;
    transition: 0.3s ease;
}

.album-list {
    list-style: none;
}

.album-container {
    display: flex;
    margin: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
}

.album-container img {
    max-height: 8rem;
    margin: 0.5rem;
}

.album-info {
    margin: 0.5rem;
}

.album-info a {
    text-decoration: none;
    color: #f0f0f0;
}

.album-info a:hover {
    text-decoration: underline;
}